@charset "utf-8";
body {
    font-family: 'Noto Sans JP' , sans-serif;
    font-weight: 300;
    font-style: normal;
}
html, body {
    margin: 0;
    padding: 0;
  }
html {
    scroll-behavior: smooth;
  }
  /*↑ページ内リンクがスクロールして切り替わる*/

a,p,h1,h2,h3 {
    color: #505050;
}

a { text-decoration: none;
    /* padding-top: 11px; */
    /* padding-bottom: 10px;     */
}
/* 修正a title 選択範囲広げる */

/* a.nav_btn {
    padding-top: 11px;
    padding-bottom: 10px;

} */
/* 修正aタグ範囲広げる */

.nav_list a {
    display: flex;
    /* display: grid;
    place-items: center; */
    justify-content: center;
    align-items: center;
    /* width: 100px; */
    height: 100%;
    padding-inline: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
.nav_list a:hover {
    opacity: 0.6;
}  
/* 下線デコレーション×、半透明に切り替え */

.header {
    width: 100%;
    height: 50px;
    font-size: 20px;
}

h1 {
    height: 100%;
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
     /*↑line-height追記してみる  */
     margin: 0;
     /* ↑margin:0;追記してpadding調整しやすくなるか確認 */
}
h1 a {
    /* ここから追加 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
   /* ここまで 親要素にもheight指示追加*/
    color: #505050;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
h1 a:hover {
    opacity: 0.6;
}

.header .inner {
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    /* ↑flex-startに変更してみる */
    /* align-items: center; ←元々記載のもの*/
    /* 修正で追加max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    height: 100%;←追加
 */
}

@media screen and (max-width:980px) {
    .header .inner {
        max-width: 960px;
        margin: 0 auto;
        padding: 0 20px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    
    }
    
}
@media screen and (max-width:767px) {
    .header .inner {
        padding: 0;
    }
}

.header_nav {
    height: 100%;
}



.nav_list {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    gap: 21px;
    padding: 0;
    margin: 0;
    line-height: calc(33 / 20);
}
/* 修正↓nav_btnクラスで高さ調整してみる */




@media screen and (max-width:767px){
    .header_nav {
        display: none !important;
    }
    
}

#top-image img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}


#top-image {
    position: relative;
    width: 100%;
}

#top-image h2.top-title {
    font-size: 40px;
    font-weight: 300;
    line-height: 1.2;
    white-space: nowrap;
    position: absolute;
    z-index: 2;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);  
    padding: 0;
    margin: 0;
    width: 520px;
    height: 48px;
    text-align: center;
}

@media screen and (max-width: 815px) {
    #top-image h2.top-title {
        top:30px
    }  
}


@media screen and (max-width:767px) {
    h1 {
        font-size: 20px;
        line-height: 33px;
        padding-left: 20px ;
    }
    #top-image h2.top-title {
        position: absolute;
        font-size: 55px;
        top: 8%;
        left: 50%;
        transform: translateX(-50%);
        height: auto;
        font-weight: 300;
        white-space: normal;
        overflow: visible;
        max-width: 84%;
        line-height: 1.2;
        text-align: center;
    }
    #top-image img {
        display: block;
        width: 100%;
        object-fit: cover;
        margin: 0 auto;
    }
    }
    @media screen and (max-width:590px) {
        #top-image h2.top-title {
            position: absolute;
            font-size: 35px;
            top: 8%;
            left: 50%;
            transform: translateX(-50%);
            font-weight: 300;
            white-space: normal;
            overflow: visible;
            max-width: 84%;
            height: auto;
            line-height: 1.2;
            text-align: center;
        }    
    }    




    @media screen and (max-width: 374px) {
        #top-image h2.top-title {
          max-width: 90%; 
          font-size: 30px; 
          white-space: normal; 
        }
      }

      
      @media screen and (min-width: 768px) {
        .sp-only {
            display: none;
        }
      }
/* 念の為調整入れておく */

#menu {
    text-align: center;
}
.section-inner {
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
  }
  /* 修正点FVとFooter以外を960px内 */

@media screen and (max-width:1000px) {
    .section-inner {
        padding-inline: 30px;
        margin: 0 auto;
        box-sizing: border-box;
      }
}
/* 余白がなくなるところから */


#menu h2 {
    font-size: 30px;
    font-weight: 300;
    position: relative;
    display: inline-block;
    margin: 50px auto 45px;
}

#menu h2::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -30%;
    transform: translateX(-50%);
    width: 50px;
    height: 2px;
    font-weight: 300;
    background-color: #505050;

}

.menu-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.menu-content {
    width: 100%;
   
}
/* 幅固定をなくす％で記入 */
.menu-content img {
    width: 100%;
}

.menu-name  {
   font-size: 20px;
   font-weight: 400; 
   text-align: center;
   margin: 22px 0px 9px 0px;
}
@media screen and (max-width:815px){
    .menu-name {
        font-size: 17px;
    }   
}
.menu-description {
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    margin: 0;
    text-align: center;
    max-width: 300px;
    min-height: 50px;
}
@media screen and (max-width: 767px) {
    #menu h2{
        margin-top: 45px;
        margin-bottom: 44px;
    }
    /* .section-inner {
        margin-left: 30px;
        margin-right: 30px;
    } */
    .menu-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .menu-content {
        display: block;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .menu-content img {
        display: block;
        width: 100%;
        max-width: 100%;
        margin: 0 auto 16px;
    }
    /* max-widthのpx? */
    .menu-name {
        font-size: 20px !important;
        margin: 0px 0 8px;
        line-height: 25px;
    }
    .menu-description {
        width: 100%;
        max-width: 315px;
        margin: 0 auto;
        line-height: 25px;
        text-align: center;
    }
    
}

#about {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.051);
    padding-bottom: 46px;
    overflow: hidden;
    margin-top: 36px;
}
#about h2 {
    font-size: 30px;
    font-weight: 300;
    position: relative;
    display: inline-block;
    margin: 41px auto 45px;
}

#about h2::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -30%;
    transform: translateX(-50%);
    width: 50px;
    height: 2px;
    font-weight: 300;
    background-color: #505050;
}


.about-flex {
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    gap: 3%;
    margin: 0 auto;
}
.about-textarea {
    /* width: 49%;
    max-width: 471px; imgエリアだけ％指示&テキストエリアflex:1;*/
    flex: 1;
    box-sizing: border-box;
    text-align: left;
}

.about-img {
    width: 47%;
    align-items: center;
    max-width: 450px;
    height: auto;
}

.about-img img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}
.about-title.pc_only { 
    max-width: 100%;
    font-size: 22px;
    font-weight: 400;
    margin: 0;
}
.about-text.pc_only {
    font-size: 18px;
    font-weight: 300;
    line-height: 33px;
    margin: 19px 0 17px 0;
    max-width: 100%;
}
.pc_only {
    display: block;
}
.sp_only {
    display: none;
}

.more-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 250px;
    height: 55px;
    font-size: 25px;
    font-weight: 300;
    background-color: #505050;
    color: #FFFFFF;
    /* padding: 13px 90px; */
    text-decoration: none;
    margin-left: 1px;
    margin-top: 25px;
    line-height: 1;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    border: 1px solid #505050;
    box-sizing: border-box;
}

.more-btn:hover {
    opacity: 0.6;
}

@media screen  and (max-width:800px) {
    .about-img {
        width: 47%;
        align-items: center;
        max-width: 450px;
        height: auto;
    }
    
    .about-img img {
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
    }    
    .about-title.pc_only { 
        max-width: 100%;
        font-size: 20px;
        font-weight: 400;
        margin: 0;
    }
    
}

@media screen and (max-width:767px) {
    #about {
        margin-top: 45px;
        padding-bottom: 50px;
    }
    .about-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* padding-inline: 30px; */

    }
    .pc_only {
        display: none;
    }
    .about-img {
        order: 1;
        width: 100%;
        max-width: 100%;
    }
    .about-img img {
        width: 100%;
        margin-left: 0;
    }
    .about-textarea {
        order: 2;
        width: 100%;
        text-align: center;
        margin-top: -5px;
    }
    .about-title.sp_only {
        font-size: 22px;
        font-weight: 400;
        line-height: 33px;
        max-width: 315px;
        text-align: left;
        margin-top: 30px;
    }
    .sp_only {
        display: block;
    }
    .about-text.sp_only {
        text-align: left;
        font-size: 18px;
        font-weight: 300;
        line-height: 33px;
        /* 追記 */
        /* word-break: keep-all;
        overflow-wrap: break-word; */
    }

    .more-btn {
        display: inline-block;
        text-align: center;
        height: 55px;
        line-height: 50px;
        width: 100%;
        max-width: 315px;
        /* padding: 11px 90px 16px 87px; */
        margin: 7px 1px 2px;
        border: 1px solid #505050;
        box-sizing: border-box;
    }
}


.footer-box {
    background-color: #505050;
    width: 100%;
    height: 91px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyright p{
    padding: 0;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}
@media screen  and (max-width:767px) {
    .copyright p {
        font-size: 17px;
        line-height: 33px;
    }
}